.ch-select {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 40;
    top: 0;
}

#warning {
    color:red;
    font-size: 12px;
    visibility: hidden;
}


.char-content {
    width: 480px;
    height: 540px;
    background-color: #9BC1BC;
    z-index: 21;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
}
.char1 {
    background-color: #F4F1BB;
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    margin: 8px;
    padding: 10px;
}
.char1:focus {
    background: #E6EBEC;
    outline: 0;
}
.ch-card {
    width: 85%;
    height: 100%;
}
.button {
    display: block;
    text-decoration: none;
    background-color: #ED6A5A;
    border-radius: 10px;
    margin: 10px auto;
    padding: 4px;
    width: 75px;
    color: black;
    font-size: 25px;

}
.button#cancel {
    background-color: #36C9C6;
    margin: 10px;
    align-items: left;
    font-size: 15px;
    width: 55px;
}
