/* Global */

/* Layouts */
.split {
    height: 100%;
    top: 0;
    position: fixed;
}
.menu {
    left: 0;
    width: 40%;
    background-color: grey;

}
.title {
    right: 0;
    width: 60%;
    background-color: white;
    text-align: center;
}
/* Buttons */
.button {
    list-style: none;
    padding: 20px;
}
/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
