/* Global */
html {
    font-family: Tahoma, Geneva, sans-serif;
}
h1 {
    font-family: Impact, Charcoal, sans-serif;
}
li.oddChat{
  list-style-position: inside;
  border: 2px solid #D6EAF8;
  background-color: #AED6F1;


}

span {
    float: right;
    color: #aaa;
     font-size: 10px;
}
li.oddChat:nth-child(odd) {
  border: 1px solid black;
    border-color: #D6EAF8  ;

  background-color: #85C1E9;}

/* Layouts */
.split {
    height: 100%;
    top: 0;
    position: fixed;
}
.menu {
    left: 0;
    width: 30%;
    background-color: #034f84;
}
.title {
    right: 0;
    width: 70%;
    background-color: white;
    text-align: center;
}
/* Buttons */
.button:hover {
    background-color: #92a8d1;
    cursor: pointer;
}
.button {
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    height: 48px;
    width: 250px;
    list-style: none;
    position: absolute;
    line-height: 48px;
    border: 1px solid black;
    background-color: lightblue;
    font-size: 24px;
    border-radius: 25px;
    text-shadow: white 2px 2px 2px;
    box-shadow: 0 8px 16px 0 black;
}

.btn-vs {
    top: 125px;
}
.btn-start {
    top: 225px;
}
.btn-history {
    top: 325px;
}
.btn-feedback {
    top: 425px;
}
.btn-about {
    top: 525px;
}
.character {
     border-style: solid;
}


/*Chat Box*/

input {
  outline: none;
  font-size: 1.0rem;
  padding: 0 5px;
}

button {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 3px 15px;
  color: white;
  line-height: 25px;
  background-color: #00bcd4;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: all 150ms ease-in;
  outline: none;
}

button:hover {
    background-color: #79d7e4;
}

button.turn {
  color: rgb(255, 64, 129);
  background-color: white;
  box-shadow:none;
}

button.turn:hover {
  background-color: #eaeaea;
}



.rps-wrapper {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 300px;
  max-height: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
}

#events {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid lightgrey;
  overflow-y: scroll;
}

#events li {
  padding: 10px 10px 10px 10px;
}

.chat-wrapper {
  padding: 10px;
}

.chat-wrapper form {
  display: flex;
}

.chat-wrapper form input {
  font-size: 1.0rem;
  margin: 0 10px 0 0;
  padding: 0 5px;
  flex-grow: 1;
}

.chat-wrapper form button {
  width: 80px;
}
