/* Global */
body {
    margin: 0;
    z-index: 0;
}
h1 {
    font-family: "Impact", Segoe UI, sans-serif;
}
p {
    font-family: "Perpetua", serif;
}
.hand {
    left: 0;
    right: 0;
    height: 50%;
    position: fixed;
}

#Oppo {
    top: 0;
    background-color: #ED6A5A;
    text-align: right;
}
#You {
    position: fixed;
    bottom: 0;
    background-color: #F4F1BB;
    text-align: left;

}
.bottomLeft {
    position: fixed;
    bottom: 0;
    left: 0;
}
.backgroundIm {
  width: 100%;
  height: 100%;
}


.playingField {
    background-color: lightblue;
    position: absolute;
    width: 800px;
    height: 440px;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin: -220px 0 0 -400px;
}

@media only screen and (max-width: 1100px) {
    .playingField {
        width: 400px;
        height: 300px;
        margin: -150px 0 0 -200px;
    }
}

#round {
    font-family: "Impact", Segoe UI, sans-serif;
    opacity: 0.45;
    position: absolute;
    left: 40%;
    top: 44%;
    margin: 0;
    font-size: 4vw;
    text-align: center;
    z-index:4;

}

/** Buttons **/
#end {
    font-family: "Gill Sans", sans-serif;
    position: relative;
    float: right;
    bottom: -200px;
    right: 15px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    padding: 4px;
    width: 6%;
    color: black;
    font-size: 20px;
    background-color: #36C9C6;
}
#quit {
    font-family: "Gill Sans", sans-serif;
    position: relative;
    float: left;
    left: 15px;
    top: -35px;
    border-radius: 10px;
    margin: auto;
    padding: 4px;
    width: 6%;
    color: black;
    font-size: 20px;
    z-index: 5;
    background-color: #E6EBEC;
    border-style: none;
}
#quit:hover {
    background-color: pink;
}
#end:hover {
    background-color: pink;
}
/* .speech-bubble {
  bottom: 22%;
	position: absolute;
	background: #00bb1a;
	border-radius: .4em;
  width: 8%;
  height: 16%;
  z-index: 20;
  left: 1%;
}
#speech-text {
  font-size: 13px;
  text-align: center;
  color: white;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 49px solid transparent;
	border-top-color: #00bb1a;
	border-bottom: 0;
	border-right: 0;
	margin-left: -24.5px;
	margin-bottom: -25px;
} */

/* Player Names */
#player {
    font-size: 2.9vw;
    margin: 0;
    bottom: 0;
    padding: 10px 10px 10px;
    /* color: black;
    text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen; */
}
#oppChar {
    font-size: 2.9vw;
    margin: 0;
    padding: 10px 10px 10px;
}

/* Points Progress Bar */
.progress-points {
    position: absolute;
    left: 0;
    top: 0;

    z-index: 1;
}
#pt {
    font-size: 1.5vw;
    text-align: left;
    float: left;
    width: 50px;
    text-align: center;
    margin: 8px 0px 12px 0px;
}
#pt1 {
    font-size: 1.5vw;
    float: right;
    width: 50px;
    text-align: center;
    margin: 12px 0px 10px 0px;
}
.progress-bar {
    overflow: hidden;
    width: 203px;
    height: 13px;
    background-color: black;
    border-radius: 16px;
    margin: 10px;
    padding: 3px;
    z-index: 3;
}
.progress {
    margin: 1px;
    width: 200px;
    height: 10px;
    border-radius: 10px;
    background-color:  #36C9C6;
}
.player1 {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px 0px 10px 0px;
    overflow: hidden;


}
.progress-bar.player1 {
    right: 50px;
}

/** Properties **/
.property {
  position: absolute;
  height: 38%;
  width: 17%;
  z-index: 30;
  -webkit-filter: drop-shadow(5px 5px 5px #ffffff);
  filter: drop-shadow(5px 5px 5px #ffffff);
}

/* #prop0 {
    bottom: 28%;
    left: 25%;
    z-index: 10;
    transform: rotate(-15deg);
}

#prop1 {
    bottom: 30%;
    left: 31%;
    z-index: 11;
    transform: rotate(-10deg);
}

#prop2 {
    bottom: 30%;
    left: 37%;
    z-index: 12;
    transform: rotate(-5deg);
}

#prop3 {
    bottom: 32%;
    left: 43%;
    z-index: 13;
    transform: rotate(0deg);
} */
/* #prop4 {
    bottom: 28%;
    left: 50%;
    z-index: 14;
    transform: rotate(5deg);
}

#prop5 {
    bottom: 30%;
    left: 56%;
    z-index: 15;
    transform: rotate(10deg);
}

#prop6 {
    bottom: 28%;
    left: 63%;
    z-index: 16;
    transform: rotate(20deg);
} */
#playerProperties {
    display: flex;
    position: absolute;
    bottom: 25%;
    left: 10%;
    width: 80%;
    height: 25%;
    z-index: 22;
}
#phealth0 {
    position: absolute;
    bottom: 23%;
    left: 9%;
    z-index: 11;
    font-size: 10px;
    color: black;
}
#pshield0 {
    position: absolute;
    bottom: 18%;
    left: 9%;
    z-index: 11;
    font-size: 10px;
    color: black;
}
#prop0 {
    bottom: 35%;
    left: 5%;
    z-index: 10;
}
#phealth1 {
  position: absolute;
  top: 37%;
  left: 25%;
  z-index: 11;
  font-size: 10px;
  color: black;
}

#pshield1 {
  position: absolute;
  top: 42%;
  left: 25%;
  z-index: 11;
  font-size: 10px;
  color: black;
}

#prop1 {
    top:5%;
    left: 20%;
    z-index: 10;
}
#phealth2 {
  position: absolute;
  top: 37%;
  right: 29%;
  z-index: 11;
  font-size: 10px;
  color: black;
}
#pshield2 {
  position: absolute;
  top: 42%;
  right: 31%;
  z-index: 11;
  font-size: 10px;
  color: black;
}

#prop2 {
    top: 5%;
    right: 20%;
    z-index: 10;
}
#phealth3 {
    position: absolute;
    bottom: 23%;
    right: 14%;
    z-index: 11;
    font-size: 10px;
    color: black;
}
#pshield3 {
    position: absolute;
    bottom: 18%;
    right: 16%;
    z-index: 11;
    font-size: 10px;
    color: black;
}
#prop3 {
    bottom: 35%;
    right: 5%;
    z-index: 10;
}
#enemyProperties {
  display: flex;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 80%;
  height: 25%;
  z-index: 12;
}
#health0 {
    position: absolute;
    bottom: 23%;
    left: 9%;
    z-index: 11;
    font-size: 10px;
    color: black;
}
#shield0 {
    position: absolute;
    bottom: 18%;
    left: 9%;
    z-index: 11;
    font-size: 10px;
    color: black;
}
#eprop0 {
    bottom: 35%;
    left: 5%;
    z-index: 10;
}
#health1 {
  position: absolute;
  bottom: 37%;
  left: 25%;
  z-index: 11;
  font-size: 10px;
  color: black;
}

#shield1 {
  position: absolute;
  bottom: 42%;
  left: 25%;
  z-index: 11;
  font-size: 10px;
  color: black;
}

#eprop1 {
    bottom:10%;
    left: 20%;
    z-index: 10;
}
#health2 {
  position: absolute;
  top: 37%;
  right: 29%;
  z-index: 11;
  font-size: 10px;
  color: black;
}
#shield2 {
  position: absolute;
  top: 42%;
  right: 31%;
  z-index: 11;
  font-size: 10px;
  color: black;
}

#eprop2 {
    bottom: 10%;
    right: 20%;
    z-index: 10;
}
#health3 {
    position: absolute;
    bottom: 23%;
    right: 14%;
    z-index: 11;
    font-size: 10px;
    color: black;
}
#shield3 {
    position: absolute;
    bottom: 18%;
    right: 16%;
    z-index: 11;
    font-size: 10px;
    color: black;
}
#eprop3 {
    bottom: 35%;
    right: 5%;
    z-index: 10;
}
/* #eprop0 {
    top:11%;
    left: 25%;
    z-index: 10;
    transform: rotate(15deg);
}

#eprop1 {
    top: 16%;
    left: 32%;
    z-index: 11;
    transform: rotate(10deg);
}

#eprop2 {
    top: 19%;
    left: 37%;
    z-index: 12;
    transform: rotate(5deg);
}

#eprop3 {
    top: 19%;
    left: 43%;
    z-index: 13;
    transform: rotate(-2deg);
}

#eprop4 {
    top: 20%;
    left: 50%;
    z-index: 14;
    transform: rotate(-5deg);
}

#eprop5 {
    top: 16%;
    left: 56%;
    z-index: 15;
    transform: rotate(-10deg);
}

#eprop6 {
    top: 11%;
    left: 63%;
    z-index: 16;
    transform: rotate(-20deg);
} */

/* Cards */
/* .card {
  position: absolute;
  height: 25%;
  width: 10%;

}

#cardDescContainer{
  position:absolute;
  z-index:20;
  top: 30%;
  left: 37%;
  height: 45%;
  width: 22%;


}
#cardDescription{
  position:absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 30;



}


#drawing {
  visibility:hidden;
  bottom: 4%;
  left: 43%;
    z-index: 20;
    color: red;
    font-family: courier;
    font-size: 160%;
}

#handPos0 {
    bottom: 0;
    left: 25%;
    z-index: 10;
    transform: rotate(-15deg);
}

#handPos1 {
    bottom: 1.5%;
    left: 31%;
    z-index: 11;
    transform: rotate(-10deg);
}

#handPos2 {
    bottom: 3%;
    left: 37%;
    z-index: 12;
    transform: rotate(-5deg);
}

#handPos3 {
    bottom: 4%;
    left: 43%;
    z-index: 13;
    transform: rotate(0deg);
}

#handPos4 {
    bottom: 3%;
    left: 50%;
    z-index: 14;
    transform: rotate(5deg);
}

#handPos5 {
    bottom: 1.5%;
    left: 56%;
    z-index: 15;
    transform: rotate(10deg);
}

#handPos6 {
    bottom: 0;
    left: 63%;
    z-index: 16;
    transform: rotate(20deg);
}

/*enemys hand*/
 .ecard {
  position: absolute;
  height: 13%;
  width: 5%;

}

#ehandPos6 {
  top:0;
    left: 36%;
    z-index: 10;
    transform: rotate(15deg);
}

#ehandPos5 {
    top: 3%;
    left: 40%;
    z-index: 11;
    transform: rotate(10deg);
}

#ehandPos4 {
    top: 6%;
    left: 44%;
    z-index: 12;
    transform: rotate(5deg);
}

#ehandPos3 {
    top: 7%;
    left: 48%;
    z-index: 13;
    transform: rotate(-2deg);
}

#ehandPos2 {
    top: 6%;
    left: 52%;
    z-index: 14;
    transform: rotate(-5deg);
}

#ehandPos1 {
    top: 3%;
    left: 56%;
    z-index: 15;
    transform: rotate(-10deg);
}

#ehandPos0 {
    top: 0%;
    left: 60%;
    z-index: 16;
    transform: rotate(-20deg);
}
 */
